/* Styles go here */
body {
}

#navTabs{
    border: none;
}

/*Intro page styles*/
.intropanel {
    position: relative;
    top: 100px;
}

.center-block {
    margin: 30px 20px 30px 20px;
}

.btns-intro {
    margin-bottom: 20px;
}

/*Main page styles*/

#mainpageContainer {
    position: relative;
    top: 100px;
}
.mainpage_tabcontent {
    border: 1px solid #ddd;
}
#mainpageTabs h3 {
    color: white;
    background-color: #428bca;
    padding: 5px 15px;
}

/*Group page styles*/
#grouppageContainer {
    position: relative;
    top: 100px;
}
